.layout {
  width: 100vw;
  height: 600 / 1024 * 100vw;
  background: #fff;
  max-height: 100vh;
  max-width: 1024 / 600 * 100vh;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.15em;

  &__main {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 0.15em 0.15em 0.5em;
  }

  &__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0.15em;
    z-index: 1;
  }
}
