html {
  box-sizing: border-box;
  //font: 4.5vmin sans-serif;
  font: sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #000;
  position: relative;
  height: 100vh;
}
